.form-screen {
  height: 100vh;

  display: grid;
  place-items: center;
  color: rgb(243, 242, 243);
}

.form {
  width: 30rem;
  background: rgb(13, 20, 44);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 4rem 2rem 4rem 2rem;
  border-radius: 5px;

  display: grid;
  grid-gap: 0.5rem;
}

.error {
  font-size: 12px;
  color: rgb(245, 74, 74);
}

.form__button {
  text-align: center;
}

div {
  display: grid;
  grid-gap: 0.8rem;
}

div.column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}

button {
  margin-top: 1rem;
}

@media screen and (max-width: 550px) {
  .form {
    width: 100%;
  }

  div.column {
    display: grid;
    grid-template-columns: unset;
  }
}
